@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600';
/* ---------------------------------------------------------------------------------------------- */
/*  WorldCon 78 - CSS
/* ----------------------------------------------------------------------------------------------

1. BASE

2. LAYOUT

3. COMPONENTS AND MODULES

4. STATE AND UTLITIES

*/
/* --------------------------------------------------------------------- */
/* Base
/* --------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url(https://cdn.matthew.nz/img/conzealand-bg.jpg) center top / cover no-repeat fixed #000000;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  min-height: 100%;
}

main {
  margin: 24px 24px 0;
}

h1 {
  color: #0034d4;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

h2 {
  color: #0034d4;
  font-size: 24px;
}
h3 {
  color: #0034d4;
  font-size: 18px;
}

:-moz-ui-invalid {
  box-shadow: none;
}

.bg-text {
  color: white;
  text-shadow: 0 0 3px black;
}
a {
  color: #00a1ff;
  text-decoration: none;
}
a:active {
  color: #0034d4;
}
a:hover {
  text-decoration: underline;
}
/* --------------------------------------------------------------------- */
/* Layout
/* --------------------------------------------------------------------- */
.html-container > :first-child {
  margin-top: 0;
  padding-top: 0;
}
.html-container > :last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
/* --------------------------------------------------------------------- */
/* Components and Modules
/* --------------------------------------------------------------------- */
/* ------------------- Action Head -------------------*/
.action-head {
  background-color: #5c91ff !important;
}
.action-head * {
  color: black !important;
}
/* ------------------- Body Card -------------------*/
.body-card {
  margin: 30px 0;
  padding: 5px 15px;
}

/* ------------------- Form -------------------*/
div.upload {
  min-height: 100px;
  display: block;
}

span.upload input {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  border: 0px;
  opacity: 0.7;
}
/* ------------------- Logo -------------------*/
.logo {
  color: #999 !important;
  height: 60px !important;
  left: 45px !important;
  pointer-events: none;
  position: absolute;
  top: 0 !important;
  transition: all 600ms !important;
  width: 135px !important;
  z-index: 9999;
}

.logo.navbar {
  color: #000 !important;
  height: 70px !important;
  width: 240px !important;
  left: 5px !important;
  top: -5px !important;
}

.h1-logo {
  padding: 15px 25px;
  margin: 0;
  background: rgba(0,0,0,.6);
  color: #fff;
  font-size: 1.25em;
  text-transform: uppercase;
}
.h1-logo--link {
  display: block;
  margin: 0 auto;
}
.h1-logo--text {
  display: block;
  text-align: right;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .h1-logo {
    font-size: 2em;
  }
}
@media only screen and (min-width: 992px) {
  .h1-logo {
    padding: 15px;
  }
  .h1-logo--link,
  .h1-logo--text {
    max-width: 65%;
  }
}
@media only screen and (min-width: 1200px) {
  .h1-logo--link,
  .h1-logo--text {
    max-width: 65%;
  }
}
.logoutHint {
  opacity: 0;
  transition: opacity 450ms;
}
.logoutButton:hover .logoutHint {
  opacity: 1;
}
/* ------------------- Vote Module -------------------*/
.vote-intro h3 {
  font-size: 18px;
  font-weight: 400;
  margin: 36px 0 0;
}
.vote-intro h3:first-child {
  margin-top: 16px;
}

.vote-intro .disabled {
  border-bottom: 1px solid #808080;
  font-weight: bold;
  padding-bottom: 2em;
}

.vote-item > div > div > div:last-child {
  height: auto !important;
  white-space: normal !important;
}

/* --------------------------------------------------------------------- */
/* States and Utilities
/* --------------------------------------------------------------------- */
.s-invisible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.img-responsive {
  max-width: 100%;
  width: 100%;
  height: auto;
}
